{% extends 'base.html' %}

{% block title %} {{ user.username }} Profile {% endblock %}

{% block content %}
 
    {{ user.last_name }}
    {% for post in posts %}
        <div class="card">
            <p class="card-body">
                <div class="p-3 mb-2 bg-primary"><a href="{% url 'post:detail' post.id %}" class="text-white" style="text-decoration:none"> {{ post.title }}</a></div>
                <div class="p-3 mb-2 bg-white text-dark"> {{ post.text|linebreaks }} </div>
                {% empty %}
                <p class="p-3 mb-2 bg-white text-dark">شما هیج پستی ندارید!</p>
            </p>
            
        </div>
    {% endfor %}

{% endblock %}