{% extends 'base.html' %}

{% block title %} {{ user.username }} Profile {% endblock %}

{% block content %}
 
    <p class="p-3 bg-dark text-white"> {{ user.last_name }} </p>
    {% for post in posts %}
        <div class="card">
            <!-- <p class="card-body"> -->
                <div class="p-3 mb-2" style="background-color: #4987a0;"><a href="{% url 'posts:detail' post.id %}" class="text-white" style="text-decoration:none"> {{ post.title }}</a></div>
                <div class="p-3 mb-2 bg-white text-dark"> {{ post.text|linebreaks }} </div>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="">
                {% endif %}
                <p class="p-3 ">وضعیت پست: {% if post.approving == True %} تایید شده {% else %} تایید نشده {% endif %}</p>
                {% empty %}
                <p class="p-3 mb-2 bg-white text-dark">شما هیج پستی ندارید!</p>
            <!-- </p> -->
            
        </div>
    {% endfor %}

{% endblock %}