{% extends 'base.html' %}

{% block title %}
شابلاگ: {{ post.title }}
{% endblock %}

{% block content %}
<div class="m-4">
<p class="fs-4">{{ post.title }}</p>
<p class="fs-5">{{ post.text|linebreaks }}</p>
<ul>
    {% for comment in comments %}
        <li>
            <div>
                <p class="fs-6">{{ comment.text|linebreaks }}</p>
                <!-- <p class="fs-10">{{ comment.user }}</p> -->
                <small>{{ comment.user }}</small>
            </div>
        </li>
    {% endfor %}
</ul>
</div>
{% endblock %}