{% extends 'base.html' %}

{% block title %}
شابلاگ: ایجاد پست
{% endblock %}

{% block content %}
    <div class="p-3">
        <form action="" method="post" novalidate>
            {% csrf_token %}
            <div class="mb-3">
                <!-- {{ form.as_p }} -->
                <div class="form-text">{{ form.title.errors }}</div>
                <label for="form.title.id_for_label" class="form-label">عنوان</label>
                {{ form.title }}<br>
            </div>
            <div class="mb-3">
                <div class="form-text">{{ form.text.errors }}</div>
                <label for="form.text.id_for_label" class="form-label">متن</label>
                {{ form.text }}<br>
            </div>
            <div class="mb-3">
                <div class="form-text">{{ form.category.errors }}</div>
                <label for="form.category.id_for_label" class="form-label">دسته بندی</label>
                {{ form.category }}<br>
            </div>
            <div class="mb-3">
                <div class="form-text">{{ form.tag.errors }}</div>
                <label for="form.tag.id_for_label" class="form-label">برچسب</label>
                {{ form.tag }}<br>
            </div>
                <input type="submit" value="ثبت پست" class="btn btn-primary">
        </form>
    </div>

{% endblock %}