{% extends 'base.html' %}

{% block title %}
شابلاگ: {{ post.title }}
{% endblock %}

{% block content %}
    <div class="m-4">
        <p class="fs-4">{{ post.title }}</p>
        <p class="fs-5">{{ post.text|linebreaks }}</p>
        <p class="fs-6">نگارنده: {{ post.user }}</p>
        {% if request.user.is_authenticated and request.user.id == post.user.id %}
            <a href="{% url 'posts:delete' post.user.id post.id %}">حذف</a>
            <a href="{% url 'posts:edit' post.user.id post.id %}">ویرایش</a>
        {% endif %}<hr>

        {% if request.user.is_authenticated %}
        <form action="" method="post" novalidate class="col-md-6">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="ثبت" class="btn btn-primary">
        </form>
        {% else %}
            <p>برای ثبت نظر، لازم است وارد «شابلاگ» شوید</p>
        {% endif %}
        <br>
        {% for comment in comments %}
            <div class="card-body bg-dark text-white">
                <p class="card-title">{{ comment.user }}</p>
                <p class="card-text">{{ comment.text|linebreaks }}</p>
                <!-- <p class="fs-10">{{ comment.user }}</p> -->
            </div><br>
        {% endfor %}
    </div>
{% endblock %}