{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
 شابلاگ
{% endblock %}

{% block content %}
    {% for category in categories %}
        <div class="p-3 btn-group">
            <a href="{{ category.get_absolute_url }}" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> {{ category.name }} </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
            {% for sub in category.scat.all %}
                <li><a class="dropdown-item" href="{{ sub.get_absolute_url }}">{{ sub.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
    <div class="px-3">
        <form action="">
            <div class="form-group">
                {{ form.search.errors }}
                {{ form.search }}
                {{ form.sub }}
            </div>
            <input type="submit" value="جستجو" class="btn btn-light">
        </form>
    </div>

    <div class="m-3">
        {% for post in posts %}
            <div style="background-color: #c6d0d6;">
                <div class="p-3" style="background-color: #426175;"><a href="{% url 'posts:detail' post.id %}" class="text-white" style="text-decoration:none"> {{ post.title }}</a></div>
                <div class="p-3"> {{ post.text|linebreaks }} </div>
                
                {% if post.image %}
                    {% thumbnail post.image "300x300" as img %}
                        <img src="{{ post.image.url }}" alt="">
                    {% endthumbnail %}
                {% endif %}
                {% for tag in post.tag.all %}
                    <div class="p-3 d-inline">
                        <a href="{{ tag.get_absolute_url }}" class="text-reset text-decoration-none"> #{{ tag.name }} </a>
                    </div>
                {% endfor %}
                <div class="px-3">دسته بندی: {{ post.category }}</div><hr class="my-2">
                <div class="px-3 row">
                    {% if request.user.is_authenticated %}
                        <div class='col-2'>
                            <a href="{% url 'posts:post_like' post.id %}" class="btn disabled">Like {{ post.likes_count }}</a>
                            <a href="{% url 'posts:post_dislike' post.id %}" class="btn disabled">Dislike {{ post.dislikes_count }}</a>
                        </div>
                        <div class="col-8"></div>
                    {% endif %}
                    <a href="{% url 'posts:user_filter' post.user.id %}" class="col-2 text-decoration-none" style="color: #426175;">{{ post.user }}</a>
                
                </div>
            </div> <hr>
        {% endfor %}
    </div>
{% endblock %}